<!--<p>createcontact works!</p>

<form>
    {{msg}} 
    
    Contact Name : <input type="text" name="contactName" [(ngModel)]="contact.contactName"/><br>
    Contact Email : <input type="text" name="contactEmail" [(ngModel)]="contact.contactEmail"/><br>
    Contact Number : <input type="text" name="contactNum" [(ngModel)]="contact.contactNum"/><br>
   <input type="button" value="submit" (click)="savecontact()"/>
</form> -->

<div class="col-md-6 offset-md-3">
    <h2>Create Contact</h2>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label >Name</label>
            <input type="text" 
            class="form-control" 
            name="contactName" 
            id="name"
            [(ngModel)]="contact.contactName"
            >
        </div>
        <div class="form-group">
            <label >Email</label>
            <input type="text" 
            class="form-control" 
            name="contactEmail" 
            id="email"
            [(ngModel)]="contact.contactEmail"
            >
        </div>
        <div class="form-group">
            <label >Phone</label>
            <input type="text" 
            class="form-control" 
            name="contactNum" 
            id="phone"
            [(ngModel)]="contact.contactNum">
        </div>
        <br>
        <div>
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </div>
    </form>
    </div>